.Layout{
  display: flex;
}
.Layout .form{
  width:30%;
  padding: 20px 30px;
  min-height: 100vh;
}
.Layout .recetario{
  padding: 22px
}
.recetario {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.form h3 {
  font-size: 24px;
  text-align: center;
}
.receta-form input {
  width: 100%
}
.receta-form textarea {
  width: 100%;
  margin-bottom: 10px;
  border:1px solid rgb(214, 214, 214);
}
.receta-form label {
  width: 100%;
  padding: 5px 0 ;
  margin:0;
}